.head
{
background-color:#000000;
border-bottom: 4px solid #3d5c5c;
width:100%;
height: auto;
padding: 0 10px;

margin: 0px;
z-index: 1;
opacity: 0.9;
}

.head  .navbar-nav > .active 
{
background-color : #000000;
color: white;
font-weight: bold;
}

.head  .navbar-nav > li > a
{
font-size: 18px;
color: white;


}
.head  .navbar-nav > li a:hover {
    background-color: #000000;
    color: white;
}

.navbar-header 
{
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0px;
margin-top:8px;
text-decoration: none;
color: white;
font-size: 25px;
padding: 5px 30px;
}